# Разное
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Файлы, связанные с IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Символизация
app.*.symbols

# Обфускация
app.*.map.json

# Android Studio
/android/app/debug
/android/app/profile
/android/app/release
